html {
    font-size: 17px;
}

#image {
    width: 45%;
    height: 20em;
    border: 0.3px solid burlywood;
    border-radius: 15px;
}

.book {
    float: left;
}

ul {
    height: 20em;
    list-style-type: none;
}

.book li {
    font-size: 1.3em;
    color: rgb(66, 29, 13);
    font-family: 'calibri light', Helvetica, sans-serif;
}

#author a {
    text-decoration: none;
} 

#author a:hover {
    color: black;
}