html {
    font-size: 17px;
}


#li {
    background: darksalmon;
    width: 35%;
    height: 1.5em;
    margin-top: 0.3em;
    padding-left: 0.7em;
    border-radius: 7px;
    color: rgb(37, 15, 15);
}

#li a {
    color: rgb(37, 15, 15);
    text-decoration: none;
}

#li a:hover {
    color: blue;
}

#other {
    color: seagreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0.8em;
    
}

.red {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 2em;
}


form {
    margin-left: 2em;
}

#button input {
    color: blue;
    width: 6em;
    height: 3em;
    margin: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-stretch: expanded;
    font-kerning: auto;
}
