<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'books/base.css'%}">
</head>
<body>
    <div id="main">
        <h1>This is a books app</h1>
        <span><a href="{% url 'books:index' %}">Home</a> </span>
        {% if user.is_authenticated %}
        <span>Logged in as {{ user.get_username }}</span>
        <span><a href="{% url 'logout' %}?next={{ request.path }}">LogOut</a></span>
        {% else %}
        <span><a href="{% url 'login' %}?next={{ request.path }}">logIn</a></span>
        {% endif %}
    </div>
    <hr />

    {% block body %}
      
    {% endblock body %}
    
    <script type="text/javascript" src="{% static 'books/base.js' %}"></script>
</body>
</html>