<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'books/base.css'%}">
    {% block style %}{% endblock style %}
</head>
<body>
    <div id="main">
        <h1>This is a books app</h1>
        <span><a href="{% url 'books:index' %}">Home</a> </span>
        <span><a href="{% url 'logout' %}">Log Out</a></span>
    </div>
    <hr />

    {% block body %}
      
    {% endblock body %}
    
</body>
</html>