{% extends "books/base.html" %}

{% load staticfiles %}

{% block title %}All Books{% endblock title %}


{% block body %}

{% if all_books %}

    <ul>
        <h4>Books are listed below</h4>
    {% for book in all_books %}
        <li id='index-li'>
            <div id="image">
                <img src="{{ book.book_cover.url }}" alt="book cover for {{ book.title }}">
            </div>
            <span id='details'>
                <a href="{% url 'books:detail' book.book_id %}">{{book.title}}</a> by
                <a href="{% url 'books:author' book.author %}">{{book.author}}</a>
            </span>
            <br />
            <span id="votes"> {{ book.votes }} votes</span>
        </li>
    {% endfor %}
    </ul>

{% else %}
    <span>No Books Available</span>
{% endif %}

{% endblock body %}